{% extends 'base.html.twig' %} {% block body %}

<div class="d-flex justify-content-center">
    <div class="col col-6 ml-8">
        <div class="card mt-5">
            <h5 class="card-header text-center">Login Form</h5>
            <div class="card-body">


                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %} {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
                {% endif %}
                <form method="post" class="form-login">
                    <div class="form-group">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input-sm chat-input" required autofocus placeholder="username">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="inputPassword" class="form-control input-sm chat-input" required placeholder="password">
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                         <input type="checkbox" name="_remember_me"> Remember me
                           </label>
                    </div>
                    #}
                    <div class="form-group">
                        <button class="btn btn-primary btn-md" type="submit"> Login </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}