{% extends 'blog/base.html.twig' %} {% block content %}



<!--CONTENT-->
<div class="uk-section uk-section-default">
    <div class="uk-container">
        <div class="uk-grid" data-ukgrid>
            <div class="uk-width-2-3@m">
                {% for novelty in productions %}

                <article class="uk-section uk-section-small uk-padding-remove-top">
                    <header>
                        <h2 class="uk-margin-remove-adjacent uk-text-bold uk-margin-small-bottom">
                            <a title="Fusce facilisis tempus magna ac dignissim." class="uk-link-reset" href="#">{{novelty.title |title  }}</a></h2>
                        <p class="uk-article-meta">Written on {{ novelty.createdAt ? novelty.createdAt|date('F jS \\,\\ Y') : '' }} | <span data-uk-icon="icon: future"></span> Takes {{ (novelty.content | length / 200) | round}}min reading.</p>
                    </header>
                    <figure>
                        <img data-src="{{  vich_uploader_asset(novelty.cover ,'imageFile')  }}" width="800" height="300" alt="Alt text" class="lazy" data-uk-img>
                        <figcaption class="uk-padding-small uk-text-center uk-text-muted">Caption of the image</figcaption>
                    </figure>
                    <p>{{novelty.content[:260] | raw}} ...</p>
                    <a href="{{ path('productions_details',{'slug':novelty.slug}) }}" title="Read More " class="uk-button uk-button-default  btn6 tw-hover"><span class="tw-hover-inner"><span>PLUS DE DETAILS</span><i class="ion-ios-arrow-thin-right"></i></span></a>
                    <hr>
                </article>
                {% endfor %} {{ knp_pagination_render(productions) }}




            </div>

        </div>
    </div>
</div>
<!--/CONTENT-->


{% endblock %}