<!-- NAVIGATION -->
<div class="uk-container  uk-visible@m	">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center ">

            <ul class="uk-navbar-nav">

                <li {% if app.request.attributes.get( '_route' ) matches '[home*]' %}class="uk-active" {% endif %}>
                    <a href="{{ path('homepage') }}" class="navItem">El HAMRA</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="{{path('elhamra_espace')}}">L’espace</a></li>
                            <li><a href="{{path('elhamra_fondateur')}}">Le fondateur</a></li>
                            <li><a href="{{path('elhamra_partenaires')}}">Nos partenaires</a></li>
                        </ul>
                    </div>

                </li>
                <li {% if app.request.attributes.get( '_route' ) matches '[news*]' %}class="uk-active" {% endif %}>
                    <a href="{{ path('newspage') }}" class="navItem">NEWS</a></li>
                <li {% if app.request.attributes.get( '_route' ) matches '[saison*]' %}class="uk-active" {% endif %}>
                    <a href=" {{ path('saison') }}" class="navItem">La saison</a>

                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href=" {{ path('saison') }}">2020/2021</a></li>
                        </ul>
                    </div>

                </li>

                <li {% if app.request.attributes.get( '_route' ) matches '[production*]' %}class="uk-active" {% endif %}>
                    <a href="{{ path('productions') }}" class="navItem">NOS PRODUCTIONS</a></li>

                <li {% if app.request.attributes.get( '_route' ) matches '[araf*]' %}class="uk-active" {% endif %}>

                    <a href="#" class="navItem">ARAF CENTRE</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href=" {{ path('araf_presentation') }}">Présentation</a></li>
                            <li><a href=" {{ path('araf_recrutement') }}">Appel à candidature</a></li>
                        </ul>
                    </div>

                </li>
                <li {% if app.request.attributes.get( '_route' ) matches '[festival*]' %}class="uk-active" {% endif %}>
                    <a href="#" class="navItem"> LE FESTIVAL</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="{{ path('festival_first_edition') }}">1 er édition 2019</a></li>
                            <li><a href="{{ path('festival_second_edition') }}">2 éme édition 2021</a></li>
                        </ul>
                    </div>
                </li>
                <li {% if app.request.attributes.get( '_route' ) matches '[contact*]' %}class="uk-active" {% endif %}><a href="{{ path('contactpage') }}" class="navItem">CONTACT</a></li>
            </ul>

        </div>
    </nav>

</div>
<!-- /NAVIGATION -->